.nav-header{
	margin: -10px 0 0 0;
	display:flex;
	justify-content:space-around;

}


.box_cont{
display:flex;
	justify-content:space-around;

}

#header .smalcart {
float: right;
height: 55px;
padding: 10px;
padding-left: 15px;
margin: 10px;
border: 1px solid gray;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background: #E6DEEA;
}

.headerbox

{
	height:200px;
background:#e9ecef;
}



.header_menu{
height:200px;

}


.jumbotron-fluid{
	height:120px;
	margin:0px !important;
}

.container{

	
}